footer.footer
  .container
    .footer__content 
      .footer__column
        .footer__logo
          a.logo(href="/")
            +img("logo.svg")
            .logo__txt 
              +img("praktika.png")
              p Мягкие окна в Туле
        p.footer__text Производство, монтаж, обслуживание изделий из ПВХ. Честная политика формирования цен и стабильно высокое качество.
        a.primary-link(href="") Политика конфиденциальности
        .copyright © 2024 Компания ООО «ПРАКТИКА» - #[a мягкие окна] в Туле
      .footer__column 
        ul.footer__menu 
          li.footer__menu-item
            a.footer__link(href="") О нас
          li.footer__menu-item
            a.footer__link(href="") Продукция  
          li.footer__menu-item.footer__menu-item_drop
            a.footer__link Материалы
            .footer__submenu 
              a.footer__submenu-link(href="") Пленки ПВХ (мягкое стекло)
              a.footer__submenu-link(href="") Фурнитура (крепления)
              a.footer__submenu-link(href="") Окантовка для мягких окон
              a.footer__submenu-link(href="") Москитные сетки
              a.footer__submenu-link(href="") Молнии, ремни, застежки, нитки
              a.footer__submenu-link(href="") Материалы для ПВХ завес
          li.footer__menu-item.footer__menu-item_drop
            a.footer__link Цены
            .footer__submenu 
              a.footer__submenu-link(href="") Цены на мягкие окна
              a.footer__submenu-link(href="") Цены на скатерти ПВХ
              a.footer__submenu-link(href="") Цены на мобильные шатры
              a.footer__submenu-link(href="") Цены на ПВХ завесы
              a.footer__submenu-link(href="") Цены на шторы для автомоек
          li.footer__menu-item
            a.footer__link(href="") Калькулятор
          li.footer__menu-item.footer__menu-item_drop
            a.footer__link Полезная информация
            .footer__submenu 
              a.footer__submenu-link(href="") Дилерам
              a.footer__submenu-link(href="") Оплата
              a.footer__submenu-link(href="") Бюджетным организациям
              a.footer__submenu-link(href="") Гарантия
              a.footer__submenu-link(href="") Вопрос - ответ
              a.footer__submenu-link(href="") Блог
          li.footer__menu-item
            a.footer__link(href="") Портфолио

      .footer__column 
        ul.footer__menu 
          li.footer__menu-item
            a.footer__link(href="") Мягкие окна
          li.footer__menu-item
            a.footer__link(href="") Мягкие окна для кафе и ресторанов
          li.footer__menu-item
            a.footer__link(href="") Полосовые завесы ПВХ
          li.footer__menu-item
            a.footer__link(href="") Шторы для автомоек
          li.footer__menu-item
            a.footer__link(href="") Скатерти и покрытия на стол
          li.footer__menu-item
            a.footer__link(href="") Мобильные шатры
          li.footer__menu-item
            a.footer__link(href="") Контакты
      .footer__column 
        .footer__item
          p.text-label Адрес офиса:
          p.text-bold г. Тула, Демидовская улица, 61г
          p.text-label Просим предварительно сообщить о приезде
        .footer__item
          p.text-label c 9:00 до 20:00 ежедневно
          a.text-bold(href="tel: +79038404744") +7 (903) 840 47 44
        .footer__item
          p.text-label Почта для связи
          a.text-bold(href="mailto: info@practikpvh.ru") info@practikpvh.ru
        .socials 
          a.socials__item.socials__item_wa(href="") 
          a.socials__item.socials__item_tg(href="")  
          a.socials__item.socials__item_vk(href="")
        a.secondary-btn.openmodal(data-modal="callback") Заказать звонок

