.tags.tags_inner
  .tags__overflow 
    .tags__item.active(data-tabs="0") 3x3
    .tags__item(data-tabs="1") 3x4,5
    .tags__item(data-tabs="2") 3x6
    .tags__item(data-tabs="3") 4x4
    .tags__item(data-tabs="4") 4x6 (40мм)
    .tags__item(data-tabs="5") 4x6 (50мм)
    .tags__item(data-tabs="6") 4x8 (40мм)
    .tags__item(data-tabs="7") 4x8 (50мм)
.tabs-inner 
  .tabs-inner__content 
    .tabs-inner-wrapper.active(data-tabs="0")
      include ../tent-tabs/tent-0
    .tabs-inner-wrapper(data-tabs="1")
      include ../tent-tabs/tent-1
    .tabs-inner-wrapper(data-tabs="2")
      include ../tent-tabs/tent-2
    .tabs-inner-wrapper(data-tabs="3")
      include ../tent-tabs/tent-3
    .tabs-inner-wrapper(data-tabs="4")
      include ../tent-tabs/tent-4
    .tabs-inner-wrapper(data-tabs="5")
      include ../tent-tabs/tent-5
    .tabs-inner-wrapper(data-tabs="6")
      include ../tent-tabs/tent-6
    .tabs-inner-wrapper(data-tabs="7")
      include ../tent-tabs/tent-7
