.price__note
  p Стоимость монтажных работ формируется на основании предоставленных нам данных по высоте и ширине перекрываемого помещения, а также температурного и эксплуатационного режимов работы ПВХ завес, удаленности объекта от нашего производства!
table.price-table.price-table_long 
  tr.price-table__head
    td Наименование
    td Ед. изм.
    td Мин. партия
    td Цена за ед.
    td Цена за рулон
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/standartnaya-pvkh-plenka-2kh200-mm/')

        img(src='/local/templates/pvh/assets/img/hint/1.jpeg' alt='Прозрачная плёнка ПВХ 2 мм (2000 мкм) для полосовых завес, рулон 200 мм х 50 м.п.' loading='lazy')
        .price__card-title Прозрачная плёнка ПВХ 2 мм (2000 мкм) для полосовых завес, рулон 200 мм х 50 м.п.
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td пог.м
    td 50
    td 260,00 ₽
    td 13 000,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/morozostoykaya-pvkh-plenka-2kh200-mm/')
        img(src='/local/templates/pvh/assets/img/hint/2.jpeg' alt='Морозостойкая прозрачная плёнка ПВХ 2 мм (2000 мкм) для полосовых завес, рулон 200 мм х 50 м.п.' loading='lazy')
        .price__card-title Морозостойкая прозрачная плёнка ПВХ 2 мм (2000 мкм) для полосовых завес, рулон 200 мм х 50 м.п.
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td пог.м
    td 50
    td 280,00 ₽
    td 14 000,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/standartnaya-pvkh-plenka-3kh300-mm/')

        img(src='/local/templates/pvh/assets/img/hint/3.jpeg' alt='Прозрачная плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.' loading='lazy')
        .price__card-title Прозрачная плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td пог.м
    td 50
    td 460,00 ₽
    td 23 000,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/morozostoykaya-pvkh-plenka-3kh300-mm/')

        img(src='/local/templates/pvh/assets/img/hint/4.jpeg' alt='Морозостойкая прозрачная плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.' loading='lazy')
        .price__card-title Морозостойкая прозрачная плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td пог.м
    td 50
    td 490,00 ₽
    td 24 500,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/standartnaya-riflenaya-pvkh-plenka-3kh300/')

        img(src='/local/templates/pvh/assets/img/hint/5.jpeg' alt='Рифленая плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.' loading='lazy')
        .price__card-title Рифленая плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td пог.м
    td 50
    td 530,00 ₽
    td 26 500,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/morozostoykaya-riflenaya-pvkh-plenka-3kh300-mm/')

        img(src='/local/templates/pvh/assets/img/hint/6.jpeg' alt='Морозостойкая рифленая плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.' loading='lazy')
        .price__card-title Морозостойкая рифленая плёнка ПВХ 3 мм (3000 мкм) для полосовых завес, рулон 300 мм х 50 м.п.
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td пог.м
    td 50
    td 660,00 ₽
    td 33 000,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/grebenka-metallicheskaya-dlina-1m/')

        img(src='/local/templates/pvh/assets/img/hint/7.jpeg' alt='Гребенка из оцинкованной стали 1000 мм, для крепления полосовых завес' loading='lazy')
        .price__card-title Гребенка из оцинкованной стали 1000 мм, для крепления полосовых завес
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td шт
    td 10
    td 730,00 ₽
    td 7 300,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/grebenka-nerzhaveyushchaya-dlina-1m/')
        img(src='/local/templates/pvh/assets/img/hint/8.jpeg' alt='Гребенка из нержавеющей стали 1000 мм, для крепления полосовых завес' loading='lazy')
        .price__card-title Гребенка из нержавеющей стали 1000 мм, для крепления полосовых завес
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td шт
    td 10
    td 1 200,00 ₽
    td 12 000,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/plastiny-nerzhaveyushchie-200-mm/')

        img(src='/local/templates/pvh/assets/img/hint/9.jpeg' alt='Пластины из оцинкованной стали 200 мм, для крепления полосовых завес (узкая+широкая)' loading='lazy')
        .price__card-title Пластины из оцинкованной стали 200 мм, для крепления полосовых завес (узкая+широкая)
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td компл.
    td 10
    td 90,00 ₽
    td 900,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/plastiny-nerzhaveyushchie-200-mm/')

        img(src='/local/templates/pvh/assets/img/hint/10.jpeg' alt='Пластины из нержавеющей стали 200 мм, для крепления полосовых завес (узкая+широкая)' loading='lazy')
        .price__card-title Пластины из нержавеющей стали 200 мм, для крепления полосовых завес (узкая+широкая)
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td компл.
    td 10
    td 150,00 ₽
    td 1 500,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/plastiny-zazhimnye-300-mm-uzkaya-shirokaya/')

        img(src='/local/templates/pvh/assets/img/hint/11.jpeg' alt='Пластины из оцинкованной стали 300 мм, для крепления полосовых завес (узкая+широкая)' loading='lazy')
        .price__card-title Пластины из оцинкованной стали 300 мм, для крепления полосовых завес (узкая+широкая)
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td компл.
    td 10
    td 140,00 ₽
    td 1 400,00 ₽
  tr
    td
      a.price__card(href='/materials/materialy-dlya-pvkh-zaves/plastiny-zazhimnye-300-mm-uzkaya-shirokaya/')
        img(src='/local/templates/pvh/assets/img/hint/12.jpeg' alt='Пластины из нержавеющей стали 300 мм, для крепления полосовых завес (узкая+широкая)' loading='lazy')
        .price__card-title Пластины из нержавеющей стали 300 мм, для крепления полосовых завес (узкая+широкая)
    td.hidden Ед. изм.
    td.hidden Мин. партия
    td.hidden Цена за ед.
    td.hidden Цена за рулон
    td компл.
    td 10
    td 200,00 ₽
    td 2 000,00 ₽
  tr
    td Наценка за сложность производства работ
    td(colspan="4") от 5 000,00 руб. к общей сумме заказа