table.price-table.price-table_default
  tr.price-table__head
    td(rowspan='2') Размер скатерти, см.
    td Пленка ПВХ 0,7 мм "Стандарт" 
    td Пленка ПВХ 2,0 мм "Люкс" 
  tr.price-table__head
    td Стоимость изделия, руб.
    td Стоимость изделия, руб.

  tr
    td 60х80
    td 520,00 ₽



    td 950,00 ₽

  tr
    td 60х90
    td 630,00 ₽



    td 1070,00 ₽

  tr
    td 60х100
    td 690,00 ₽



    td 1190,00 ₽

  tr
    td 60х110
    td 710,00 ₽



    td 1 300,00 ₽

  tr
    td 60х120
    td 770,00 ₽


    td 1 420,00 ₽

  tr
    td 60х130
    td 830,00 ₽
    td 1 540,00 ₽
  tr
    td 60х140
    td 900,00 ₽
    td 1 660,00 ₽

  tr
    td 60х150
    td 960,00 ₽
    td 1 780,00 ₽

  tr
    td 60х160
    td 1 030,00 ₽
    td 1 890,00 ₽

  tr
    td 60х170
    td 1 190,00 ₽
    td 2 010,00 ₽

  tr
    td 60х180
    td 1 260,00 ₽
    td 2 130,00 ₽

  tr
    td 60х190
    td 1 300,00 ₽
    td 2 250,00 ₽

  tr
    td 60х200
    td 1 370,00 ₽
    td 2 370,00 ₽

  tr
    td 70х80
    td 600,00 ₽
    td 1 110,00 ₽

  tr
    td 70х90
    td 670,00 ₽
    td 1 240,00 ₽

  tr
    td 70х100
    td 800,00 ₽
    td 1 380,00 ₽

  tr
    td 70х110
    td 820,00 ₽
    td 1 520,00 ₽

  tr
    td 70х120
    td 900,00 ₽
    td 1 660,00 ₽

  tr
    td 70х130
    td 970,00 ₽
    td 1 790,00 ₽

  tr
    td 70х140
    td 1 050,00 ₽
    td 1 930,00 ₽

  tr
    td 70х150
    td 1 120,00 ₽
    td 2 070,00 ₽

  tr
    td 70х160
    td 1 200,00 ₽
    td 2 210,00 ₽

  tr
    td 70х170
    td 1 270,00 ₽
    td 2 350,00 ₽

  tr
    td 70х180
    td 1 470,00 ₽
    td 2 480,00 ₽

  tr
    td 70х190
    td 1 520,00 ₽
    td 2 620,00 ₽

  tr
    td 70х200
    td 1 600,00 ₽
    td 2 760,00 ₽

  tr
    td 80х80
    td 750,00 ₽
    td 1 260,00 ₽

  tr
    td 80х90
    td 840,00 ₽
    td 1 420,00 ₽

  tr
    td 80х100
    td 910,00 ₽
    td 1 580,00 ₽

  tr
    td 80х110
    td 1 300,00 ₽
    td 1 740,00 ₽

  tr
    td 80х120
    td 1 120,00 ₽
    td 1 890,00 ₽

  tr
    td 80х130
    td 1 210,00 ₽
    td 2 050,00 ₽

  tr
    td 80х140
    td 1 200,00 ₽
    td 2 210,00 ₽

  tr
    td 80х150
    td 1 400,00 ₽
    td 2 370,00 ₽

  tr
    td 80х160
    td 1 490,00 ₽
    td 2 520,00 ₽

  tr
    td 80х170
    td 1 590,00 ₽
    td 2 680,00 ₽

  tr
    td 80х180
    td 1 680,00 ₽
    td 2 840,00 ₽

  tr
    td 80х190
    td 1 730,00 ₽
    td 2 990,00 ₽

  tr
    td 80х200
    td 1 820,00 ₽
    td 3 150,00 ₽

  tr
    td 90х80
    td 840,00 ₽
    td 1 420,00 ₽

  tr
    td 90х90
    td 950,00 ₽
    td 1 600,00 ₽

  tr
    td 90х100
    td 1 030,00 ₽
    td 1 780,00 ₽

  tr
    td 90х110
    td 1 160,00 ₽
    td 1 950,00 ₽

  tr
    td 90х120
    td 1 260,00 ₽
    td 2 130,00 ₽

  tr
    td 90х130
    td 1 360,00 ₽
    td 2 310,00 ₽

  tr
    td 90х140
    td 1 340,00 ₽
    td 2 480,00 ₽

  tr
    td 90х150
    td 1 570,00 ₽
    td 2 660,00 ₽

  tr
    td 90х160
    td 1 680,00 ₽
    td 2 840,00 ₽

  tr
    td 90х170
    td 1 780,00 ₽
    td 3 010,00 ₽

  tr
    td 90х180
    td 1 890,00 ₽
    td 3 190,00 ₽

  tr
    td 90х190
    td 1 990,00 ₽
    td 3 370,00 ₽

  tr
    td 90х200
    td 2 050,00 ₽
    td 3 550,00 ₽

  tr
    td 100х200
    td 2 280,00 ₽
    td 3 940,00 ₽

  tr
    td 100х110
    td 1 260,00 ₽
    td 2 170,00 ₽

  tr
    td 100х120
    td 1 370,00 ₽
    td 2 370,00 ₽

  tr
    td 100х130
    td 1 480,00 ₽
    td 2 560,00 ₽

  tr
    td 100х140
    td 1 600,00 ₽
    td 2 760,00 ₽

  tr
    td 100х150
    td 1 710,00 ₽
    td 2 960,00 ₽

  tr
    td 100х160
    td 1 820,00 ₽
    td 3 150,00 ₽

  tr
    td 100х170
    td 1 940,00 ₽
    td 3 550,00 ₽

  tr
    td 100х180
    td 2 050,00 ₽
    td 3 550,00 ₽

  tr
    td 100х190
    td 2 160,00 ₽
    td 3 740,00 ₽

  tr
    td 100х200
    td 2 280,00 ₽
    td 3 940,00 ₽

  tr
    td Другой размер
    td Звоните
    td Звоните
