.price__note
  p Для формирования стоимости мягких окон "под ключ" за м2 закрываемой площади Вашей постройки, выберите слева в столбце таблицы понравившуюся фурнитуру и проведите курсором по столбцу из трёх комплектаций (СТАНДАРТ, ЛЮКС). При необходимости не забудьте учесть опциональные материалы мягких окон для ещё большего комфорта от их дальнейшего использования.
table.price-table.price-table_complect 
  tr.price-table__head
    td Комплектация
    td СТАНДАРТ
    td ЛЮКС
  tr 
    td 
    td 
      ul 
        li окна: прозрачная пленка 700 мкм;
        li окантовка: ткань Оксфорд 1680D;
        li изготовление, доставка, монтаж.
    td
      ul 
        li окна: прозрачная пленка 700 мкм;
        li окантовка: ткань Оксфорд 1680D;
        li изготовление, доставка, монтаж.
  tr 
    td
      a.price__card(href="")
        +img("price/1.png")
        .price__card-title Кровельные саморезы по периметру. Несъемная конструкция. Страна изготовитель РФ
    td.hidden СТАНДАРТ
    td.hidden ЛЮКС
    td 1 400, руб./м2
    td 1 600, руб./м2
  tr
    td 
      a.price__card(href="")
        +img("price/2.png")
        .price__card-title Клипса "Фаст" с люверсом 16 мм. Производство РФ
    td.hidden СТАНДАРТ
    td.hidden ЛЮКС
    td 1 400, руб./м2
    td 1 600, руб./м2
  tr
    td 
      a.price__card(href="")
        +img("price/3.png")
        .price__card-title Скоба с ПВХ ремешком (цвета: прозрачный, белый, серый, черный, зеленый) с люверсом 27х8 мм. Страна изготовитель: Польша, РФ
    td.hidden СТАНДАРТ
    td.hidden ЛЮКС
    td 1 400, руб./м2
    td 1 600, руб./м2
  tr
    td 
      a.price__card(href="")
        +img("price/4.png")
        .price__card-title Полиамидная скоба (цвета: белый, кремовый, серый, коричневый, темно-коричневый, черный) с люверсом 42х22 мм. Страна изготовитель: Польша, Турция
    td.hidden СТАНДАРТ
    td.hidden ЛЮКС
    td 1 400, руб./м2
    td 1 600, руб./м2
  tr
    td 
      a.price__card(href="")
        +img("price/5.png")
        .price__card-title Оцинкованная скоба с люверсом 42х22 мм. Страна изготовитель: Польша
    td.hidden СТАНДАРТ
    td.hidden ЛЮКС
    td 1 400, руб./м2
    td 1 600, руб./м2
  tr
    td 
      a.price__card(href="")
        +img("price/6.png")
        .price__card-title Малый «французский» замок (цвета: никель, латунь, черный) с люверсом 17×11 мм. Страна изготовитель: Польша, КНР
    td.hidden СТАНДАРТ
    td.hidden ЛЮКС
    td 1 400, руб./м2
    td 1 600, руб./м2
  tr
    td 
      a.price__card(href="")
        +img("price/7.png")
        .price__card-title Большой «французский» замок (цвета: никель, латунь, черный) с люверсом 22,5×13,5 мм. Страна изготовитель: Польша, КНР
    td.hidden СТАНДАРТ
    td.hidden ЛЮКС
    td 1 400, руб./м2
    td 1 600, руб./м2 




.price__note.price__note_drop
  p Опциональные материалы мягких окон. Если вы хотите заменить стандартную комплектацию.
table.price-table.price-table_options.price-table_dropdown 
  tr
    td 
      a.price__card(href="")
        +img("price/8.png")
        .price__card-title Прозрачный ПВХ-ремень с люверсом (2 шт./окно, L 500 - 1000 мм). Собственное производство
    td входит в стоимость к выбранной комплектации
  tr
    td 
      a.price__card(href="")
        +img("price/9.png")
        .price__card-title Силиконовый ремень с оцинкованной пряжкой h 600 мм. Страна изготовитель: Польша
    td 300, руб./шт.
  tr
    td 
      a.price__card(href="")
        +img("price/10.png")
        .price__card-title Ремень для крепления распаха. Страна изготовитель: ПольшаКровельные саморезы по периметру. Несъемная конструкция. Страна изготовитель РФ
    td 200, руб./шт.
  tr
    td 
      a.price__card(href="")
        +img("price/11.png")
        .price__card-title «Тракторная молния»: двусторонняя, всепогодная, морозоустойчивая. Цвета черный. Двухсторонний бегунок №10. Страна изготовитель: РФ
    td 1 000, руб./п.м.
  tr
    td 
      a.price__card(href="")
        +img("price/12.png")
        .price__card-title Полиуретан 500 мкм (ТПУ). Сохраняет эластичность до -65 °C. Рекомендуем использовать на входной группе. Страна изготовитель: КНР.
    td + 1 000,00 руб./м2 дополнительно к площади изделия.
  tr
    td 
      a.price__card(href="")
        +img("price/13.png")
        .price__card-title Тонированное ПВХ 700 мкм. Страна изготовитель: КНР.
    td + 200,00 руб./м2 - дополнительно к площади изделия
  tr
    td 
      a.price__card(href="")
        +img("price/14.png")
        .price__card-title Москитная сетка "Антикошка" 350г/м2. Страна изготовитель: КНР.
    td + 200,00 руб./м2 - дополнительно к площади изделия
  tr
    td 
      a.price__card(href="")
        +img("price/15.png")
        .price__card-title Роликовая (сдвижная) система (направляющая, ролики, крепления). Страна изготовитель: Польша.
    td  #[b + 2 000,00 руб./п.м. - дополнительно к верхнему световому проему.]
.price__note.price__note_drop
  p Дополнительные работы и условия.
table.price-table.price-table_options.price-table_dropdown 
  tr
    td Окна без пайки. Мы можем предложить выполнить изделие из разных ширин рулона пленки ПВХ,&nbsp;м
    td 
      |1,4 - без изминения стоимости;#[br]
      |1,8 - 3% к стоимости изделия;#[br]
      |2,0 - 5% к стоимости изделия;#[br]
      |2,4 - 7% к стоимости изделия
  tr
    td Монтаж по кирпичу, бетону, целиндрическому бревну, металлу. (Дополнительно к общей стоимости изделия)

    td 7% к общей сумме заказа

  tr
    td Нестандартный кант и юбка. (Дополнительно к каждому погонному метру изделия)

    td
      |(от 6 до 15 см) - 350,00 руб./п.м.#[br]
      |(от 16 до 30 см) - 500,00 руб./п.м.#[br]
      |(более 31 см) - по согласованию

  tr
    td Вырезы (необходимо указание радиуса выреза и глубины выреза под прямым углом)
    td
      |квадратный - 500,00 руб./вырез#[br]
      |круглый - 1 000,00 руб./вырез
  tr
    td Утяжелитель в карман (усиленный карман, арматура). Считается кратно погонному метру

    td 300,00 руб./п.м.

  tr
    td Утяжелитель в карман (усиленный карман, труба ПВХ). Считается кратно погонному метру

    td 400,00 руб./п.м.

  tr
    td Утяжелитель в карман (усиленный карман, алюминиевый профиль). Считается кратно погонному метру

    td 800,00 руб./п.м.

  tr
    td Установка бруса 50х50 мм с материалом (обрешетка). Считается кратно погонному метру

    td 550,00 руб./п.м.

  tr
    td Установка бруса 50х50 с материалом и покраской (обрешетка). Считается кратно метру

    td 750,00 руб./п.м.

  tr
    td Установка трубы профильной 50х50 мм с покраской (обрешетка). Считается кратно метру

    td 1 350,00 руб./п.м.

  tr
    td Работа на высоте свыше 3-х метров или с тур-вышки

    td от 5 000,00 руб. - к общей сумме заказа

  tr
    td Наценка на заказ изделий менее 10 м#[sup 2]

    td 4 000,00 руб. - к общей сумме заказа

  tr
    td Наценка за сложность производства работ

    td от 5 000,00 руб. - к общей сумме заказа
.price__note.price__note_drop
  p Дополнительные точки крепления мягких окон.#[br] Если Вы хотите дополнить изделие фурнитурой по индивидульному заказу, отличной от стандартной комплектации.
table.price-table.price-table_options.price-table_dropdown 
  tr
    td
      a.price__card(href='/materials/furnitura-krepleniya/klipsa-fast-s-lyuversom-16-mm/') 
        img(alt='Дополнительная точка крепления Клипса фастмаунд с люверсом 16мм. Производитель: FASTMET (Россия)' src='/upload/iblock/36c/3zyu2262gxe23m0f3yisurooc8hueand.jpg' loading='lazy')
        .price__card-title Дополнительная точка крепления "Клипса фастмаунд с люверсом 16мм". Производитель: FASTMET (Россия)

    td 100,00 руб./шт.

  tr
    td
      a.price__card(href='/materials/furnitura-krepleniya/skoba-s-morozostoykim-pvkh-remeshkom/')
        img(alt='Дополнительная точка крепления Скоба с ПВХ ремешком (цвета: прозрачный, белый, серый, черный, зеленый) с люверсом 27х8 мм. Производитель: VERTON (Польша)' src='/upload/iblock/d21/umptwkxzkhcjjysv28zcohlfxu8guizr.jpg' loading='lazy')
        .price__card-title Дополнительная точка крепления "Скоба с ПВХ ремешком (цвета: прозрачный, белый, серый, черный, зеленый) с люверсом 27х8 мм. Производитель: VERTON (Польша)
    td 120,00 руб./шт.

  tr
    td
      a.price__card(href='/materials/furnitura-krepleniya/poliamidnaya-povorotnaya-skoba/') 
        img(alt='Дополнительная точка крепления Полиамидная скоба (цвета: белый, кремовый, серый, коричневый, темно-коричневый, черный) с люверсом 42х22 мм. Производитель: VERTON (Польша)' src='/upload/iblock/7b5/hb4b8iw4aeplzb9j3z95s58e95zhpmis.jpg' loading='lazy')
        .price__card-title Дополнительная точка крепления "Полиамидная скоба " (цвета: белый, кремовый, серый, коричневый, темно-коричневый, черный) с люверсом 42х22 мм. Производитель: VERTON (Польша)
    td 160,00 руб./шт.

  tr
    td

      a.price__card(href='/materials/furnitura-krepleniya/skoba-povorotnaya-pruzhinnaya-otsinkovannaya-stal/') 
        img(alt='Дополнительная точка крепления Оцинкованная скоба с люверсом 42х22 мм. Производитель: VERTON (Польша)' src='/upload/iblock/04d/emp9dq49lhk2sfvc37buo661b1ylsdue.jpg' loading='lazy')
        .price__card-title Дополнительная точка крепления "Оцинкованная скоба" с люверсом 42х22 мм. Производитель: VERTON (Польша)
    td 170,00 руб./шт.

  tr
    td

      a.price__card(href='/materials/furnitura-krepleniya/malyy-frantsuzskiy-zamok/')
        img(alt='Дополнительная точка крепления Малый «французский» замок (цвета: никель, латунь, черный) с люверсом 17×11 мм. Производитель: FRANZ MIEDERHOFF (Германия)' src='/upload/iblock/0fd/27h94om5rcmgdwbhtbnstzxf8y2zhckx.jpg' loading='lazy')
        .price__card-title Дополнительная точка крепления "Малый «французский» замок" (цвета: никель, латунь, черный) с люверсом 17×11 мм. Производитель: FRANZ MIEDERHOFF (Германия)
    td 250,00 руб./шт.

  tr
    td

      a.price__card(href='/materials/furnitura-krepleniya/bolshoy-frantsuzskiy-zamok/')
        img(alt='Дополнительная точка крепления Большой «французский» замок (цвета: никель, латунь, черный) с люверсом 22,5×13,5 мм. Производитель: FRANZ MIEDERHOFF (Германия)' src='/upload/iblock/87a/2kgqcs5u8kyg0lmsmxzkqop8sm1yrzdq.jpg' loading='lazy')
        .price__card-title Дополнительная точка крепления "Большой «французский» замок" (цвета: никель, латунь, черный) с люверсом 22,5×13,5 мм. Производитель: FRANZ MIEDERHOFF (Германия)
    td 300,00 руб./шт.
