section.section.i-about
  .container 
    .i-about__content
      .i-about__txt 
        h2 Компания «ПРАКТИКА» - мягкие окна в Туле
        p Компания ПРАКТИКА (practikpvh.ru) приветствует вас на своем сайте!
        p С 2019 года мы изготавливаем на собственном производстве мягкие окна, тенты, шторы, завесы из ПВХ тканей, скатерти и покрытия на стол. У нас лучшие цены в Туле и всегда высокое качество готовых изделий.
        p Наше ключевое и принципиальное преимущество — жесткий отбор мастеров-монтажников и специалистов на производство. За любого своего сотрудника мы ручаемся головой и доверяем каждому из них, как самим себе. Чтобы и вы могли в полной мере доверить мастеру даже самую сложную работу на объекте.
        p Мы работаем на территории Тулы, Тульской области, Калуги, Калужской области, Южного Подмосковья, но при отдельной договоренности рассматриваются объекты в соседних регионах.
        a.primary-btn.primary-btn_arrow О компании
      .i-about__images 
        .i-about__img 
          +img("hero.png")
        .i-about__img 
          +img("i-about2.png")
        .i-about__img 
          +img("i-about3.png")