section.section.steps 
  .container 
    h2 Всего 4 шага до мягких окон у вас на участке!
    .steps__content
      .steps__item 
        span
        .steps__item-top 
          .steps__icon
            +svg("mobile") 
          .steps__number 1
        .steps__txt Заявка на сайте
      .steps__item 
        span
        .steps__item-top 
          .steps__icon
            +svg("measure") 
          .steps__number 2
        .steps__txt Выезд #[br] замерщика 
      .steps__item 
        span
        .steps__item-top 
          .steps__icon
            +svg("tools") 
          .steps__number 3
        .steps__txt Производство комплекта
      .steps__item 
        .steps__item-top 
          .steps__icon
            +svg("install") 
          .steps__number 4
        p.steps__txt Монтаж на территории заказчика

