section.section.i-certificates 
  .container 
    h2 Сертификаты
    .i-certificates__slider
      .swiper-wrapper
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert1.png")
            +img("cert/cert1.png")
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert2.png")
            +img("cert/cert2.png")
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert3.png")
            +img("cert/cert3.png")
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert1.png")
            +img("cert/cert1.png")
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert2.png")
            +img("cert/cert2.png")
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert3.png")
            +img("cert/cert3.png")
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert1.png")
            +img("cert/cert1.png")
        .swiper-slide
          a.i-certificates__item(data-fancybox="gallery" href="assets/img/cert/cert2.png")
            +img("cert/cert2.png")


      .i-certificates__slider-bottom
        .swiper-button-prev
        .swiper-pagination      
        .swiper-button-next