section.section.categories 
  .container 
    h2 Продукция
    .categories__content.categories__content_3
      a.categories-card(href="")
        h5.categories-card__title Мягкие окна →
        +img("categories/cat1.png")
      a.categories-card(href="")
        h5.categories-card__title Москитные сетки →
        +img("categories/cat2.png")
      a.categories-card(href="")
        h5.categories-card__title Мобильные шатры →
        +img("categories/cat3.png")
      a.categories-card(href="")
        h5.categories-card__title Полосовые завесы ПВХ →
        +img("categories/cat4.png")
      a.categories-card(href="")
        h5.categories-card__title Шторы для автомоек →
        +img("categories/cat5.png")
      a.categories-card(href="")
        h5.categories-card__title Скатерти и покрытия на стол →
        +img("categories/cat6.png")