section.section.i-accordeon 
  .container 
    h2 Мягкие окна от производителя
    .accordeon 
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Преимущества мягких окон
        .accordeon__body
          ul 
            li Низкая стоимость. Если вы решите купить мягкие окна для веранды или кафе, они обойдутся вам как минимум в 2 раза дешевле стеклянных.
            li Высокая прочность на растяжение и разрыв — ПХВ-пленка толщиной 500, 700, 1000 и 2000 мкм выдерживает даже сильные порывы ветра и ливень любой интенсивности.
            li Не выгорают на солнце.
            li Безопасность и ремонтопригодность. Мягкие окна невозможно разбить, а прорванные или прорезанные участки полотна всегда можно заменить, что немаловажно при наличии детей.
            li Быстрый монтаж/демонтаж. Конструкция позволяет устанавливать или убирать их в считанные минуты.
            li Эстетичный внешний вид и близость к окружающей среде. Мягкие гибкие окна не скрывают конструкцию, прозрачны (пропускают более 90% света). Широкая цветовая гамма окантовок позволяет гармонично вписать такое остекление в любой интерьер.
            li При открывании могут скручиваться вверху в рулон или отодвигаться в сторону при помощи роликовой системы.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Виды крепежа для мягких окон
        .accordeon__body
          ul 
            li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, et.
            li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, et.
            li Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, et.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какую окантовку выбрать для мягких окон?
        .accordeon__body
          ul 
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla omnis illum, tempora reprehenderit nesciunt placeat.
              li Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla omnis illum, tempora reprehenderit nesciunt placeat.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Как правильно ухаживать за мягкими окнами?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aut impedit totam reiciendis, nam ab. Ullam veniam explicabo, quos nobis ut illo impedit beatae eos vitae ratione recusandae veritatis. Explicabo dignissimos necessitatibus reprehenderit illum modi maxime eaque perferendis, vel ipsum, voluptate officia consequuntur ad maiores ratione amet? Amet, voluptatum sed.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Что будет с мягкими окнами зимой?
        .accordeon__body
          ul 
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magni quidem fugiat quod voluptate iure.
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magni quidem fugiat quod voluptate iure.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Где производится используемая нами пвх-пленка?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laudantium quis ipsam quos cupiditate quaerat officiis doloribus, possimus perferendis voluptatem aliquam sit accusantium, natus rem expedita adipisci eligendi, facere ipsa voluptas cum. Optio quos provident odit eaque qui excepturi, id iusto saepe ullam eligendi placeat doloremque ipsam iste, unde veritatis! Accusamus repudiandae nulla quis blanditiis ex, necessitatibus corrupti veritatis voluptatem labore totam eum quod cum voluptatum quas! Pariatur nemo non sequi facere atque autem eum eligendi illum saepe voluptatum dolore ipsum, incidunt provident. Vero ipsam vitae repudiandae dolores in repellat quis rem voluptate, nostrum provident laboriosam nemo facere consequuntur illum?

    a.primary-btn Ещё вопросы

