- let breadcrumb = ["Главная", "Блог"];

section.page-top 
  .container 
    +breadcrumbs(breadcrumb) 
    h1 Блог
.section.section.blog 
  .container 
    .page-grid
      .article-card 
        +img("blog/1.png")
        a.article-card__title(href="") Мягкое стекло на столешницу: современное решение для вашего дома
        p Мягкое стекло для столешниц становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность.
      .article-card 
        +img("blog/2.png")
        a.article-card__title(href="") Мобильные быстросборные шатры от компании Практика
        p Мобильные быстросборные шатры стали незаменимым элементом для различных мероприятий благодаря своей универсальности и легкости монтажа.
      .article-card 
        +img("blog/3.png")
        a.article-card__title(href="") Как выбрать ПВХ завесы. Советы профессионалов
        p Выбор ПВХ-завес – это важный этап для многих предприятий, складов, магазинов и других учреждений, которые стремятся эффективно использовать эту продукцию.
      .article-card 
        +img("blog/4.png")
        a.article-card__title(href="") Мягкое стекло на столешницу: современное решение для вашего дома
        p Мягкое стекло для столешниц становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность.
      .article-card 
        +img("blog/5.png")
        a.article-card__title(href="") Мобильные быстросборные шатры от компании Практика
        p Мобильные быстросборные шатры стали незаменимым элементом для различных мероприятий благодаря своей универсальности и легкости монтажа.
      .article-card 
        +img("blog/6.png")
        a.article-card__title(href="") Как выбрать ПВХ завесы. Советы профессионалов
        p Выбор ПВХ-завес – это важный этап для многих предприятий, складов, магазинов и других учреждений, которые стремятся эффективно использовать эту продукцию.
    .pagination 
      .container 
        .pagination__wrapper
          .pagination__item.active 1
          .pagination__item 2
          .pagination__item 3
include ../callback
