- let breadcrumb = ["Главная", "Калькулятор"];
section.page-top 
  .container 
    +breadcrumbs(breadcrumb) 
    h1 Шатры
section.section.calc-benefits 
  .container
    .calc-benefits__content
      .calc-benefits__txt 
        h3 Усиленные раздвижные каркасы из анодированного алюминия по австрийской технологии. Ткань крыши и стен из плотного Оксфорда.
        a.primary-btn(href="/tent.html") Рассчитать
      .calc-benefits__cards 
        .simple-card
          .simple-card__info
            .simple-card__title 2 мин
            .simple-card__text Монтаж любого шатра
        .simple-card
          .simple-card__info
            .simple-card__title 32 м2
            .simple-card__text Макс. площадь одного шатра
        .simple-card
          .simple-card__info
            .simple-card__title 70 кг
            .simple-card__text Макс. вес одного шатра
        .simple-card
          .simple-card__info
            .simple-card__title 2 года
            .simple-card__text Обслуживание и гарантия
        .simple-card
          .simple-card__info
            .simple-card__title 2 м
            .simple-card__text Макс. размер при перевозке
        .simple-card
          .simple-card__info
            .simple-card__title 0,2 м2 
            .simple-card__text Площадь хранения одного шатра
section.section.types
  .container 
    h2 Шесть типоразмеров и множество опций
    .types__table 
      .types-card
        +img("tent.png")
        .types-card__info 
          a.types-card__title(href="") Мобильные шатры 3х3м →
          .types-card__price от 59 000 ₽
        .types-card__bottom 
          a.primary-btn Купить
          a.secondary-btn Арендовать
      .types-card
        +img("tent.png")
        .types-card__info 
          a.types-card__title(href="") Мобильные шатры 3х3м →
          .types-card__price от 59 000 ₽
        .types-card__bottom 
          a.primary-btn Купить
          a.secondary-btn Арендовать
      .types-card
        +img("tent.png")
        .types-card__info 
          a.types-card__title(href="") Мобильные шатры 3х3м →
          .types-card__price от 59 000 ₽
        .types-card__bottom 
          a.primary-btn Купить
          a.secondary-btn Арендовать
      .types-card
        +img("tent.png")
        .types-card__info 
          a.types-card__title(href="") Мобильные шатры 3х3м →
          .types-card__price от 59 000 ₽
        .types-card__bottom 
          a.primary-btn Купить
          a.secondary-btn Арендовать
      .types-card
        +img("tent.png")
        .types-card__info 
          a.types-card__title(href="") Мобильные шатры 3х3м →
          .types-card__price от 59 000 ₽
        .types-card__bottom 
          a.primary-btn Купить
          a.secondary-btn Арендовать
      .types-card
        +img("tent.png")
        .types-card__info 
          a.types-card__title(href="") Мобильные шатры 3х3м →
          .types-card__price от 59 000 ₽
        .types-card__bottom 
          a.primary-btn Купить
          a.secondary-btn Арендовать
include ../callback