- let breadcrumb = ["Главная", "Вопрос - ответ"];
section.page-top 
  .container 
    +breadcrumbs(breadcrumb) 
    h1 Вопрос - ответ
section.section 
  .container 
    p Здесь мы отвечаем на самые часто задаваемые вопросы от наших Заказчиков. Если Вы не найдете ответ на свой вопрос, задайте его по телефонам +7 (4872) 38 47 44, +7 (903) 840 47 44 или оставьте заявку на сайте, наши специалисты с удовольствием вам все объяснят.
    .accordeon 
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Вы производители или перекупщики?
        .accordeon__body
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo neque asperiores velit sequi dignissimos itaque tempora doloribus quisquam ut perspiciatis! Eum explicabo aliquid quaerat voluptatem, sed, ut reprehenderit minima repudiandae alias magni recusandae laudantium ullam porro animi impedit. Illum sapiente amet adipisci ut fugit reprehenderit totam. Veritatis iste nam cum?
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какие гарантии вы предоставляете?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, fuga!
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какой срок службы мягкого остекления?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sed sunt obcaecati doloremque quas dolorum officia fugit optio nesciunt maxime.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Как правильно ухаживать за мягкими окнами?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, quaerat.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какую пленку лучше выбрать: пвх или полиуретан?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какую толщину пленки лучше выбрать для мягких окон?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какую окантовку выбрать для мягких окон?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какой тип крепления выбрать?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Что будет с мягкими окнами зимой?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Можно ли самостоятельно замерить и смонтировать мягкие окна?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Можно ли монтировать мягкие окна при низких/отрицательных температурах?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Где производится используемая нами пвх-пленка?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Что выбрать мягкие окна или классическое остекление?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Как ухаживать за покрытием?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Как отрезать лишнее?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Как уложить мягкое стекло?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title В чем отличие по толщине?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Каков гарантированный срок службы?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Каков срок гарантии?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какое качество вы гарантируете?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
      .accordeon__item
        .accordeon__head
          .accordeon__btn
          h3.accordeon__title Какова страна производитель вашего стекла?
        .accordeon__body
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, animi.
include ../callback


