- let breadcrumb = ["Главная", "Материалы", "Пленки ПВХ (мягкое стекло)"];
section.page-top 
  .container 
    .page-top__content
      +breadcrumbs(breadcrumb) 
      h1 Пленки ПВХ (мягкое стекло)
section.categories.categories_p48-80
  .container
    .categories__content.categories__content_3
      .main-card
        a.main-card__link(href="")
          .images
            .swiper-wrapper
              .swiper-slide
                +img("material/1.png")
              .swiper-slide
                +img("material/2.png")
              .swiper-slide
                +img("material/3.png")
            .swiper-pagination
        .main-card__title Прозрачная плёнка ПВХ 700 мкм →
      .main-card
        a.main-card__link(href="")
          .images
            .swiper-wrapper
              .swiper-slide
                +img("material/1.png")
              .swiper-slide
                +img("material/2.png")
              .swiper-slide
                +img("material/3.png")
            .swiper-pagination
        .main-card__title Прозрачная плёнка ПВХ 1000 мкм →
      .main-card
        a.main-card__link(href="")
          .images
            .swiper-wrapper
              .swiper-slide
                +img("material/1.png")
              .swiper-slide
                +img("material/2.png")
              .swiper-slide
                +img("material/3.png")
            .swiper-pagination
        .main-card__title Прозрачная плёнка ПВХ 2000 мкм →
      .main-card
        a.main-card__link(href="")
          .images
            .swiper-wrapper
              .swiper-slide
                +img("material/2.png")
              .swiper-slide
                +img("material/1.png")
              .swiper-slide
                +img("material/3.png")
            .swiper-pagination
        .main-card__title Тонированная плёнка ПВХ 700 мкм →
      .main-card
        a.main-card__link(href="")
          .images
            .swiper-wrapper
              .swiper-slide
                +img("material/3.png")
              .swiper-slide
                +img("material/2.png")
              .swiper-slide
                +img("material/1.png")
            .swiper-pagination
        .main-card__title Полиуретановая плёнка 500 мкм →
section.info.info_grey
  .container 
    .info__content
      +img("dealers.png")
      .info__text
        p Мы используем в производстве мягких окон ПВХ-пленку компании Guangzhou Xiongxing Plastic Products Co., Ltd (Китай). Компания является одним из крупнейших поставщиков в Россию ПВХ-материалов.
        p Данная пленка обладает повышенной стойкостью к всевозможным внешним воздействиям, таким как дождь, ветер, снег, механические нагрузки. В тоже время имеет свойства хорошо пропускать свет в помещение и сохранять в нем комфортную температуру.
        p Выбрав нашу компанию для производства ПВХ окон для террас, веранд и навесов вы получите действительно качественный продукт, который будет служить вам долгие годы.
include ../callback