- let breadcrumb = ["Главная", "Политика конфиденциальности"];

section.page-top
  .container 
    +breadcrumbs(breadcrumb) 
    h1 Политика конфиденциальности
section.section.policy
  .container
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis aut impedit ratione deserunt consequuntur explicabo facilis optio culpa cum sit dolor, hic repudiandae facere! Doloribus libero natus corrupti accusantium, asperiores ab blanditiis soluta rem id fugiat autem iusto, labore corporis vero, ipsam voluptatem. Nulla veritatis culpa consectetur non assumenda ad voluptatibus reprehenderit, ipsum est iusto soluta, quas blanditiis! Iusto dolore esse iste et explicabo aliquid deleniti architecto quisquam rem, ea quaerat, ab, inventore animi! Fugiat nemo nisi, soluta perferendis aliquid quod necessitatibus obcaecati. Ipsa minus totam possimus debitis sequi est, voluptatibus qui quisquam ea. 
    p Numquam harum illum cum, quod animi alias natus, eligendi laboriosam laudantium dicta ut sed quam earum sit? Velit architecto quisquam recusandae distinctio perferendis explicabo eum, dolores maxime tempore consectetur placeat dolorem laboriosam saepe dignissimos fugit fuga ea deleniti! Autem debitis dignissimos odio non, officiis rerum corporis ut obcaecati consequatur eos facere id cum aperiam nisi, delectus dolore consequuntur, illo labore qui deserunt ad voluptas commodi in.
    p #[strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, cum.]
    ul 
      li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic, magni.
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus velit iusto corrupti rem ea optio voluptatum cum quia animi!
      li Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod blanditiis officiis repudiandae nisi officia mollitia illo? Non fugit numquam nobis error voluptatibus natus, animi, nulla saepe a, dolores alias odio!
    p Facilis necessitatibus earum quaerat pariatur odit quidem repellendus, omnis, animi laudantium itaque quae exercitationem alias velit dolor sint dolorum assumenda vel recusandae quam veniam obcaecati expedita neque aperiam culpa. Ducimus deleniti eos, recusandae quisquam eligendi enim quibusdam illo repellendus iure quam vel laboriosam rem sit. Odio explicabo possimus esse sapiente tempora, sit ducimus eius nesciunt voluptatem aliquam suscipit omnis porro in excepturi temporibus corrupti quam ipsa laboriosam eos modi ea perspiciatis! Et omnis perspiciatis, perferendis facilis iusto nostrum repellendus est assumenda non officia, labore qui ipsum adipisci mollitia harum voluptatibus aut praesentium quasi doloremque tenetur necessitatibus ipsam magnam nobis error. Minus corrupti, voluptatem dolores excepturi eligendi odit laudantium qui amet cupiditate inventore cum quam at perspiciatis, rerum ab tenetur. Consectetur molestias facere possimus illum unde praesentium, tenetur modi repellendus ex accusamus voluptatum corrupti alias dolore rem quas perferendis vero commodi?