- let breadcrumb = ["Главная", "Блог", "Мягкое стекло на столешницу: современное решение для вашего дома"];
section.page-top 
  .container 
    +breadcrumbs(breadcrumb) 
    h1 Мягкое стекло на столешницу: современное решение для вашего дома
section.section.post
  .post__container 
    +img("post.png")
    p 
      a(href="") Мягкое стекло для столешниц 
      | становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность. Гибкое стекло представляет собой прозрачный, эластичный материал, который обеспечивает защиту от царапин, пятен и повреждений. Давайте разберемся в особенностях и преимуществах гибкого стекла по сравнению с традиционными силиконовыми скатертями и другими вопросами.
    h2 Заголовок H2
    p 
      a(href="") Мягкое стекло для столешниц 
      | становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность. Гибкое стекло представляет собой прозрачный, эластичный материал, который обеспечивает защиту от царапин, пятен и повреждений. Давайте разберемся в особенностях и преимуществах гибкого стекла по сравнению с традиционными силиконовыми скатертями и другими вопросами.
    h3 Заголовок H3 и список
    ul 
      li #[strong Пленка ПВХ (мягкое стекло)] — основной элемент в конструкции мягких окон.
      li #[strong Фурнитура (крепления)] — вариации крепления окон к материалу постройки. Различаются по надежности посадки окна к месту монтажа и удобству.
      li #[strong Окантовка] — материал обрамления периметра окон ПВХ. Именно в окантовку встраивается фурнитура для крепления к каркасу постройки.
      li #[strong Москитные сетки] — дополнительный атрибут (приобретается отдельно либо в комплекте с окном).
      li #[strong Молнии, ремни, застежки, ролики] — применяются для еще большего комфорта при использовании мягких окон.
    h4 Заголовок H4
    p 
      a(href="") Мягкое стекло для столешниц 
      | становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность. Гибкое стекло представляет собой прозрачный, эластичный материал, который обеспечивает защиту от царапин, пятен и повреждений. Давайте разберемся в особенностях и преимуществах гибкого стекла по сравнению с традиционными силиконовыми скатертями и другими вопросами.
    h5 Заголовок H5 и маленький текст
    p 
      a(href="") Мягкое стекло для столешниц 
      | становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность. Гибкое стекло представляет собой прозрачный, эластичный материал, который обеспечивает защиту от царапин, пятен и повреждений. Давайте разберемся в особенностях и преимуществах гибкого стекла по сравнению с традиционными силиконовыми скатертями и другими вопросами.
section.section.others
  .container 
    h2 Другие статьи
    .others__slider 
      .swiper-wrapper
        .swiper-slide
          .article-card 
            +img("blog/1.png")
            a.article-card__title(href="") Мягкое стекло на столешницу: современное решение для вашего дома
            p Мягкое стекло для столешниц становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность.
        .swiper-slide
          .article-card 
            +img("blog/1.png")
            a.article-card__title(href="") Мягкое стекло на столешницу: современное решение для вашего дома
            p Мягкое стекло для столешниц становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность.
        .swiper-slide
          .article-card 
            +img("blog/1.png")
            a.article-card__title(href="") Мягкое стекло на столешницу: современное решение для вашего дома
            p Мягкое стекло для столешниц становится все более популярным выбором для тех, кто хочет защитить свой стол, сохраняя его эстетику и функциональность.
      .swiper-pagination
include ../callback