- let breadcrumb = ["Главная", "Гарантия"];

section.page-top 
  .container 
    +breadcrumbs(breadcrumb) 
    h1 Гарантия
section.section
  .container 
    .checked-card
      .checked-card__top
        .checked-card__icon 
          +svg("checked")
        h5 У нас вы получаете расширенную гарантию на швы, пайку, фурнитуру, которая составляет 1 год. 

      p Кроме того, мы оказываем гарантийное и послегарантийное обслуживание, а также ремонт при повреждениях и помогаем быстро решить возникающие проблемы.

      p Срок ремонтных работ (гарантийных и послегарантийных) — до 15 рабочих дней.

      p #[strong Гарантия не распространяется на неисправности и дефекты, вызванные следующими причинами:]
      ul 
        li механические и другие повреждения (уменьшение светопропускаемости, изменения цвета, коррозия, истирание и иное), в том числе возникшие вследствие естественного износа изделия, неблагоприятных атмосферных явлений, а также возникшие при использовании (процедура снятия/раскрытия/закрытия/сворачивание) изделий из пленки ПВХ при температуре воздуха ниже «+5» градусов Цельсия;
        li использование не по назначению и нарушение правил эксплуатации изделия;
        li по причине не правильного ухода и хранения изделия;
        li преднамеренная порча изделия;
        li в случаях порчи изделия под воздействием непреодолимой силы (пожар, затопление, стихийные бедствия, и др.)
section.section.callback
  .container
    .callback__content 
      .callback__info 
        h2 Если у вас возник гарантийный случай, заполните форму
        p Изображения помогут нам быстрее оценить характер повреждений и предложить варианты решения проблемы.
        p.subtext Так же вы можете написать нам в мессенджеры
        .socials 
          a.socials__item.socials__item_wa(href="") 
          a.socials__item.socials__item_tg(href="")  
          a.socials__item.socials__item_vk(href="") 
      include ../warranty-form