.modal(data-modal="thanks-modal")
  .modal__close.modal__close-btn
  +img("svg/success.svg")
  .modal__title Ваша заявка принята
  p Мы перезвоним в течение 15 минут
  a.primary-btn.modal__close Закрыть
