.price__top 
  h3 Мобильный быстросборный шатёр — гармошка 3,0х3,0 м
  .price__top-btns 
    a.primary-btn(href="") Купить
    a.primary-btn(href="") Арендовать
table.price-table.price-table_complect
  tr
    td(style="color: #001f49;font-size: 17px; font-style: normal; font-weight: 700; line-height: 25px; text-align: center" colspan="2") Базовый комплект
  tr
    td Каркас 3,0х3,0 м из прямоугольного алюминиевого профиля 40 мм
    td 37 600,00
  tr
    td Крыша 3,0х3,0 м из пожаробезопасного полиэстера 600D
    td 15 300,00
  tr
    td Сумка на колёсах для шатра 3,0х3,0 м из полиэстера 600D
    td 4 000,00
  tr
    td Комплект крепежа в грунт (стропы и колышки) в чехле
    td 2 800,00
  tr(style="font-weight: 700")
    td Итого:
    td 59 700,00
.price__note.price__note_drop
  p Опциональные изделия
table.price-table.price-table_options.price-table_dropdown
  tr
    td Стена глухая 3 м
    td 5 500,00
  tr
    td Стена с арочным окном 3 м
    td 5 500,00
  tr
    td Стена с дверью-скруткой 3 м
    td 5 500,00
  tr
    td Стена с распашной дверью на молнии 3 м
    td 5 500,00
  tr
    td Стена с широким окном 3 м
    td 5 500,00
  tr
    td Стена — москитная сетка 3 м
    td 5 500,00
  tr
    td Стена с окном с москитной сеткой 3 м
    td 5 500,00
.price__note.price__note_drop
  p ДОПОЛНИТЕЛЬНЫЙ КОМФОРТ
table.price-table.price-table_options.price-table_dropdown

  tr
    td Сумка-утяжелитель для песка (14 кг) из чёрного полиэстера 600D
    td 1 400,00
  tr
    td Утяжелитель стальной — 15 кг
    td 5 500,00
  tr
    td Утяжелитель стальной — 30 кг
    td 11 000,00
  tr
    td Водосточный жёлоб, 3 м, белый, ПВХ
    td 2 300,00
  tr
    td Соединитель прямоугольных каркасов, сталь / пластик
    td 1 400,00
  tr
    td Соединитель для стен 3 м, белый, полиэстер
    td 1 400,00